$icomoon-prefix: 'icon-';
$icomoon-font-name: 'icomoon';
$icomoon-font-family: 'icomoon';

$icomoon-icons: (x: '\e905', copy: '\e900', clean: '\e901', settings: '\e902', reset: '\e903', code: '\e904');
